
*{
	font-family: cursive;
	font-size: small;	
}

.navbar {
	background-color: #1d89e4;
	color: #fff;
	padding: 15px !important;
}

.tabs{
	overflow: scroll;
	height: 92vh;
}
.table{
	position: absolute;
	left: 0px;
	vertical-align: middle;
	
}

.table thead tr{
	background-color: #e9e9e9;
	
}

.center .table tbody :hover{
	background-color:#84c570;
	cursor: cell;
}
.table tbody :hover{
	background-color:#ffebca;
}

.rotated { 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.popup{
	position: fixed;
	z-index: 1000;
}
.popup ul{
	cursor: pointer;
}
input{
	margin: 3px 3px 0px 0px !important;
}

.dropdown{
	padding: 0px !important;
}
.dropdown-toggle{
	text-align: right !important;
	margin: 0px !important;
	width: 100%;
	border-color: rgb(202, 200, 200) !important;
	color: rgb(48, 46, 46) !important;
	background-color: #fff !important;
}
.popover{
	max-width: none !important;
}
#popupcard{
	width: 400px;
}

.calendarpopup{
	width: 340px;	
}

.calendarpopup .react-calendar{
	font-size: 3px;
}