
.navbar {
	background-color: #1d89e4;
	color: #fff;
}

.tabs{
	height: 866px;
	overflow: scroll;
}
.table{
	position: absolute;
	left: 0px;
}

.table thead tr{
	background-color: #c9cace;
}

.table tbody :hover{
	background-color:#ffebca;
}