*{
	font-family: cursive;
	font-size: small;	
}

.navbar {
	background-color: #1d89e4;
	color: #fff;
	padding: 15px !important;
}

.tabs{
	overflow: scroll;
	height: 93vh;
}

.table{
	position: absolute;
	left: 0px;
	vertical-align: middle;
	
}

.table thead tr{
	background-color: #e9e9e9;
	
}
.center .table tbody tr td{
	height: 64.5px;
}
.center .table tbody tr :hover{
	cursor: cell;
}

.timehead{
	max-width: 111.25px;
	min-width: 111.25px;
}

.sidenav .table tbody :hover{
	background-color:#ffebca;
}

.popup{
	position: fixed;
	z-index: 1000;
}

.popup ul li{
	cursor: pointer;
}

.popup ul :hover{
	background-color: #ffe1b2;
}

.popup ul :active{
	background-color: #ffca75;
}

input{
	margin: 3px 3px 0px 0px !important;
}


.popover{
	max-width: none !important;
}

#popupcard{
	width: 400px;
}

.calendarpopup{
	max-width: 340px;	
}

.calendarpopup .react-calendar{
	font-size: xx-small;
}

.input-group{
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-right: 5px;
}

.eventcard{
	color: #fff;
	background-color: #4531fe !important;
	min-width: 100px !important;
	z-index: 100;
	overflow: hidden;
}

.eventcard :hover{
	background-color: #1201b5 !important;
	cursor: pointer !important;
}